.root {
    -fx-font-size: 16px;
}

.list-cell {
    -fx-background-color: transparent;
}

.theme-switch-button, .help-button {
  -fx-background-color: transparent;
}

.theme-switch-button:selected, .help-button:selected {
-fx-background-color: transparent;
}

.message-text {
    -fx-fill: black;
}

.timestamp-text {
    -fx-fill: rgb(0, 0, 0, 0.5);
}

.name-text {
    -fx-fill: blue;
    -fx-font-weight: bold;
}
