.list-cell {
    -fx-background-color: transparent;
}

.theme-switch-button, .help-button {
  -fx-background-color: transparent;
}

.theme-switch-button:selected, .help-button:selected {
    -fx-background-color: transparent;
}

.mainVBox {
    -fx-background-color: #151b35 !important;
    }

.messageListView {
    -fx-background-color: #1b234a !important;
}


.infoLabel {
    -fx-text-fill: rgb(255, 255, 255, 0.9);
}

.openButton {
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-background-color: linear-gradient(to top, #1b234a, #222c5d);
    -fx-text-fill: #ffffff !important;
    -fx-border-color: #0d1125 !important;
}

.openButton:hover {
    -fx-background-color: #31385c !important;
}

.openButton:pressed {
    -fx-background-color: #181f42 !important;
}

.message-text {
    -fx-fill: rgb(255, 255, 255, 0.9);
}

.timestamp-text {
    -fx-fill: rgb(255, 255, 255, 0.5);
}

.name-text {
    -fx-fill: orange;
    -fx-font-weight: bold;
}

.messageListView .scroll-bar {
    -fx-background-color: transparent;
    -fx-background-radius: 10;
}

.messageListView .scroll-bar:vertical {
    -fx-padding: 0 5px 0 0;
    -fx-pref-width: 15px;
}

.messageListView .thumb {
    -fx-background-color: rgba(255, 255, 255, 0.2);
    -fx-background-radius: 8;
}

.messageListView .thumb:hover {
    -fx-background-color: rgba(255, 255, 255, 0.3);
}

.messageListView .increment-button,
.messageListView .decrement-button {
    -fx-background-color: transparent;
}

.messageListView .increment-arrow,
.messageListView .decrement-arrow {
    -fx-shape: " ";
}