.list-cell, .list-cell::focused {
    -fx-border-radius: 20;
}

.list-cell {
-fx-background-color: transparent;
}

.theme-switch-button, .help-button {
  -fx-background-color: transparent;
}

.theme-switch-button:selected, .help-button:selected {
-fx-background-color: transparent;
}
